* {
  font-family: "Newsreader", serif;
  font-family: "Inter", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;}
:root {
  --green: #426b1f;
  --black: #000000;
  --white: white;
  --bg: #fafaf5;
  -ms-grid-layer: #6d6d6d;
}
.container {
  padding: 0 20px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.heading .container{
  display: flex;
  
}