

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;}
:root {
  --green: #426b1f;
  --black: #000000;
  --white: white;
  --bg: #fafaf5;
  -ms-grid-layer: #6d6d6d;
}
.container {
  padding: 0 20px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.heading .container{
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 18PX;
  border-bottom: 1px solid #6d6d6dbd;
  color: var(--black);
}
.heading .container h1{
  font-weight: 400;
  font-size: 64px;
  font-family: "Newsreader", serif;;
  line-height: 46px;
  letter-spacing: -2%;
}
.heading .container span{
  font-weight: 300;
  font-size: 14px;
  font-family:"Inter", sans-serif; 
  line-height: 23px;
  margin-top: 17px;
  margin-left: 20px;
}
.hero .container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 35px;
}
/* .hero .product-list{
  flex-grow: 1;
}
.hero .product-list .content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: var(--bg);
  border: 1px solid #e6e6e6;
  border-radius: 24px;
  overflow: hidden;
}
.hero .product-list .content .product-details{
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero .product-list .content .information h2{
  font-family: ;
} */
