* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img{
  max-width: 100%;
}
:root {
  --green: #426b1f;
  --black: #000000;
  --white: white;
  --bg: #fafaf5;
  -ms-grid-layer: #6d6d6d;
}
.container {
  padding: 0 20px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.Browse-the-store .container{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  justify-content: center;
  margin-top: 90px;
}
.Browse-the-store h1{
  font-family: "Newsreader", serif;
  font-weight: normal;
  font-size:54px;
  line-height: 120%;
  letter-spacing: -2%;
  color: var(--black);
}
.Browse-the-store .Browse-btn{
  display: block;
  width: fit-content;
  margin: 40px auto;
  text-align: center;
padding: 10px  ;
border-radius: 8px;
border: none;
outline: none;
line-height: 120%;
font-size: 15px;
font-family: "Inter", sans-serif;
background-color: var(--green);
color: var(--white);
}
/* .hero .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
} */